* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 70px;
}
.logo {
  background-image: url(images/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 180px;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid #2ea1ff;
  border-radius: 10px;
  padding: 10px;
}
.search-bar input {
  height: 20px;
  width: 600px;
  border: none;
  font-size: 16px;
}
.search-bar input:focus {
  outline: none;
}
.search {
  height: 30px;
}
.navbar div ul {
  display: flex;
  gap: 30px;
}
.navbar div ul li {
  list-style-type: none;
}
.navbar div ul li a {
  text-decoration: none;
}
.icon {
  color: #000000;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

hr {
  border: 1px solid #dddddd;
}

.flipkart1 {
  background-image: url(images/flipkart1.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart2 {
  background-image: url(images/flipkart2.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart3 {
  background-image: url(images/flipkart3.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart4 {
  background-image: url(images/flipkart4.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart5 {
  background-image: url(images/flipkart5.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart6 {
  background-image: url(images/flipkart6.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart7 {
  background-image: url(images/flipkart7.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart8 {
  background-image: url(images/flipkart8.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.flipkart9 {
  background-image: url(images/flipkart9.webp);
  background-size: cover;
  height: 224px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.carousel {
  width: 100%;
  max-width: 1170px;
  margin: 40px auto;
  overflow: hidden;
}

.flip1 {
  background-image: url(images/fashion.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip2 {
  background-image: url(images/travel.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip3 {
  background-image: url(images/appliances.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip4 {
  background-image: url(images/beauty.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip5 {
  background-image: url(images/electronics.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip6 {
  background-image: url(images/toys.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip7 {
  background-image: url(images/sellphone.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip8 {
  background-image: url(images/flipkartpay.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip9 {
  background-image: url(images/supercoin.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip10 {
  background-image: url(images/moblies.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip11 {
  background-image: url(images/food.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip12 {
  background-image: url(images/home.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip13 {
  background-image: url(images/auto.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip14 {
  background-image: url(images/furniture.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip15 {
  background-image: url(images/sports.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip16 {
  background-image: url(images/genz.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.flip17 {
  background-image: url(images/nextgen.webp);
  height: 97.51px;
  width: 97.51px;
  background-size: cover;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 12px 0px 4px 8px;
  width: 1000px;
}
.gallery-container {
  width: 1170px;
  margin: 0px 200px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flip18 {
  background-image: url(images/flip10.webp);
  width: 1170px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  margin: 40px auto;
}

.section-img1 {
  margin: 40px auto;
  width: 1170px;
  background-color: #d7f2e8;
  height: 330px;
}

.text1 {
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
}

.img-container {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 230px;
  padding: 20px;
  border-radius: 10px;
  width: 98%;
  margin: 0px auto;
  gap: 10px;
}

.flip19 {
  background-image: url(images/airdopes.jpg);
  background-size: cover;
  background-color: #f5f5f5;
  width: 80%;
  height: 180px;
}
.flip20 {
  background-image: url(images/chocolate.jpg);
  background-size: cover;
  background-color: #f5f5f5;
  width: 80%;
  height: 180px;
}
.flip21 {
  background-image: url(images/torch.jpg);
  background-size: cover;
  width: 80%;
  height: 180px;
}
.flip22 {
  background-image: url(images/pinksaree.jpg);
  background-size: cover;
  width: 80%;
  height: 180px;
}

.img-div {
  background-color: #f5f5f5;
  width: 276px;
  height: 187px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.text2 {
  font-size: 15px;
}
.text3 {
  font-size: 15px;
  font-weight: 600;
}

/* mobile responsive */

@media (max-width: 768px) {
  .navbar {
    width: 95%;
    gap: 20px;
  }
  .logo {
    display: none;
  }
  .navlinks {
    display: none;
  }
  .search-bar {
    width: 90%;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 12px 0px 4px 8px;
    width: 80%;
  }
  .gallery-container {
    width: 80%;
    margin: 0px auto;
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  .flip18 {
    display: none;
  }
  .section-img1 {
    width: 95%;
    height: auto;
    padding-bottom: 30px;
  }

  .img-container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
  }
  hr {
    display: none;
  }
  .img-div {
    width: 240px;
    height: 180px;
  }
}

/* tablet responsive */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    width: 95%;
    gap: 20px;
  }

  .logo {
    display: none;
  }

  .search-bar input {
    width: 380px;
  }

 
  .carousel {
    max-width: 95%;
  }

  .gallery-container {
    width: 95%;
    margin: 0 auto;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
  }

  .flip18 {
    display: none;
  }

  .section-img1 {
    width: 95%;
    height: auto;
    padding-bottom: 30px;
  }

  .img-container {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
  }

  .img-div {
    width: 240px;
    height: 180px;
  }
}
